<div id="main">
    <h1>Your Reservations</h1>
    <table>
        <tr>
            {{!-- Lab column --}}
            <th>Lab Number</th>
            
            {{!-- Slot column --}}
            <th>Slot Number</th>
            
            {{!-- Date column --}}
            <th>Date</th> 
            
            {{!-- Time column --}}
            <th>Time</th>
            
            {{!-- Edit/Cancel column --}}
            <th>Edit/Cancel</th>
        </tr>

       {{#each reservations}}
    <tr>
        <td>{{labName}}</td>
        <td>{{reservation.SlotID}}</td>
        <td>{{reservation.date}}</td>
        <td>{{reservation.time}}</td>
        <td>
            <div class="btn-container">
                <form method="POST" action="/deleteReserve">
                    <input type="hidden" name="labName" value="{{labName}}">
                    <input type="hidden" name="SlotID" value="{{reservation.SlotID}}">
                    <input type="hidden" name="date" value="{{reservation.date}}">
                    <input type="hidden" name="time" value="{{reservation.time}}">
                    <button class="edit-cancel-btn" type="submit" onclick="confirmDelete(event)">Cancel</button>
                </form>
                <form method="POST" action="/editReserve">
                    <input type="hidden" name="labName" value="{{labName}}">
                    <input type="hidden" name="SlotID" value="{{reservation.SlotID}}">
                    <input type="hidden" name="date" value="{{reservation.date}}">
                    <input type="hidden" name="time" value="{{reservation.time}}">
                    <button class="edit-cancel-btn" type="submit" onclick="confirmEdit(event)">Edit</button>
                </form>
            </div>
        </td>
    </tr>
    {{/each}}
    </table>
</div>

<script>
    function confirmEdit(event) {
        var answer = confirm('Are you sure you want to edit this reservation?');
        if (!answer) {
            event.preventDefault(); // Prevent form submission if cancellation
        }
    }
    function confirmDelete(event) {
        var answer = confirm('Are you sure you want to delete this reservation?');
        if (!answer) {
            event.preventDefault(); // Prevent form submission if cancellation
        }
    }
</script>