<!DOCTYPE html>
<html>
<head>
    <title>Lab Reservation</title>

    <link href="https://fonts.google.com/share?selection.family=Inter:wght@100..900|Kumbh+Sans:wght@400;700" rel="stylesheet">
    <link href="../css/reservation.css" rel="stylesheet">
    <link href="../css/sidebar.css" rel="stylesheet">

</head>

<body>
    {{> adminsidebar}}
    <div id="main">
        <form action="adminIndex.html">
            <button type="submit">Back</button>
        </form>

        <h1>Reservation List</h1>

        <p class="lab-data">
            <form method = "POST" action = "/selectlab?id={{user._id}}">
                <select id = "lab-select" name ="labName"> 
                {{#each labs}} 
                <option id = "{{labs.id}}">{{name}}</option>
                {{/each}}
                </select>
                <input type = "submit" value ="Select Lab" />
            </form>
            <p id="lab-name"><b>{{selectedLab.name}}</b></p>
            <p id="lab-status"><b>Status:</b> {{selectedLab.status}}</p>
            <p id="lab-slots"><b>Slots:</b> {{selectedLab.usage}} / {{selectedLab.capacity}}</p> 
        </p>

        <h2> Reserve Date </h2>

        <div class="grid-container">
            {{#each days}}
            <div class="grid-item">
                <div class="day">{{this.day}}</div>
                <div class="date-month">
                    <div class="date">{{this.date}}</div>
                    <div class="month">{{this.month}}</div>
                </div>
            </div>
            {{/each}}
        </div>
        <h2>Select Time</h2>
        <select name="Time" id="select-time">
            <option value="8:30 AM">8:30 AM</option>
            <option value="9:30 AM">9:30 AM</option>
            <option value="10:30 AM">10:30 AM</option>
            <option value="11:30 AM">11:30 AM</option>
            <option value="12:30 PM">12:30 PM</option>
            <option value="1:30 AM">1:30 PM</option>
            <option value="2:30 AM">2:30 PM</option>
            <option value="3:30 AM">3:30 PM</option>
            <option value="4:30 AM">4:30 PM</option>
        </select>

        <div class="room-details">
            <h2 id="details">Details</h2>
            <p><b>User:</b></p>
            <p><b>Name:</b> Garfield Bol</p>
            <p><b>ID Number:</b> 123456789</p>
            <p><b>Email:</b> garfield_boi@dlsu.edu.ph</p>
        </div>

        <div class="seat-status">
            <div id="available-dot"><div id="inner-dot"></div></div>
            <div class="status-text">Available</div>
            <div id="occupied-dot"></div>
            <div class="status-text">Occupied</div>
            <div id="selected-dot"></div>
            <div class="status-text">Selected</div>
        </div>

        <div class="grid-status-container">
            {{#each seatStatus}}
            <div class="grid-status-item" id="item{{this}}">{{this}}</div>
            {{/each}}
        </div>

        <form method = "POST" action="/404?id={{user._id}}">
            <button type="submit" id="reserve-btn">Reserve</button>
        </form>

    </div>
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/reservation.js"></script>
</body>

</html>
